
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  text-align: center;
  width: 90%;
  max-width: 400px;
}


h2 {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 40px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


.circle {
  width: 25vw;
  height: 25vw;
  max-width: 100px;
  max-height: 100px;
  background-color: #114c4c;
  border-radius: 50%;
}


.square {
  width: 25vw;
  height: 25vw;
  max-width: 100px;
  max-height: 100px;
  background-color: #114c4c;
}


@media (max-width: 600px) {
  h2 {
    font-size: 1rem;
    margin-bottom: 25px;
  }
  .container {
    gap: 20px;
  }
}